BACKEND_PRIVATE_KEY=
MONGO_URI=
NEXTAUTH_URL=http://localhost:3000
DERIVATION_SECRET= # secret used to deterministically derive ETH private keys from Solana addresses
ENCRYPTION_KEY=     # encryption key used to encrypt private keys at rest (any passphrase; will be sha256'd)